
name: "Update Pull Request"
on:
  pull_request:
    branches: [ master ]

jobs:
  pr_update_text:
    runs-on: ubuntu-latest
    steps:
    - uses: tzkhan/pr-update-action@v1.1.1
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        branch-regex: '[\s\S]*'
        title-template: '[API]'
        body-template: '[API-${{ steps.get-request.outputs.output }}](https://url/to/browse/ticket/%branch%)'
    - uses: satak/webrequest-action@master
      id: freshrelease-ticket
      with:
        url: https://freshworks.freshrelease.com/API/issues
        method: POST
        payload: '{"title": "Test ticket1", "name": "Test ticket1", "description": "Test ticket", "issue_type_id": 45978, "epic_id": 217897, "status_id": 18, "priority_id": 3, "reporter_id": 2748}'
        headers: '{"Authentication": "Token token=eqnFHdlctbfRUG-kVB9jiA", "Content-Type": "application/json", "Accept": "application/json"}'
    - name: get-request output
      shell: pwsh
      run: |
        $output = '${{ steps.get-request.outputs.output }}' | ConvertFrom-Json
        echo $output
