
name: "Update Pull Request"
on:
  pull_request:
    branches: [ master ]

env:
  FRESHRELEASE_TICKET_ID: 0
  PULL_REQUEST_NUMBER: 0
jobs:
  pr_update_text:
    runs-on: ubuntu-latest
    steps:
      - run: |
          PULL_NUMBER=$(echo "$GITHUB_REF"| awk -F / '{print $3}' )
          echo "::set-env name=PULL_REQUEST_NUMBER::$PULL_NUMBER"
      - name: Get Pull Request Data
        id: pull_request_data
        uses: simpleactions/get-pull-request@v1.0.0
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          pull_number: "${{ env.PULL_REQUEST_NUMBER }}"
      - name: test
        run: |
          echo ${{ steps.pull_request_data.outputs.title }}
