
name: "Update Pull Request"
on:
  pull_request:
    branches: [ master ]

env:
  FRESHRELEASE_TICKET_ID: 0
jobs:
  pr_update_text:
    runs-on: ubuntu-latest
    steps:
    - uses: tzkhan/pr-update-action@v1.1.1
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        branch-regex: '[\s\S]*'
        title-template: '[API]'
        body-template: '[API-${{ steps.get-request.outputs.output }}](https://url/to/browse/ticket/%branch%)'
    - uses: satak/webrequest-action@master
      id: freshrelease-ticket
      with:
        url: https://freshworks.freshrelease.com/API/issues/API-116
        method: GET
        headers: '{"authorization": "Token token=eqnFHdlctbfRUG-kVB9jiA", "Content-Type": "application/json", "Accept": "application/json"}'
    - name: get-request output
      id: set
      shell: pwsh
      run: |
        $output = '${{ steps.freshrelease-ticket.outputs.output }}' | ConvertFrom-Json
        echo ::set-output name=json_var::steps.freshrelease-ticket.outputs.output
    - name: use output
      run: |
        echo $json_var | jq '.[].name'
      env:
        json_var: ${{ steps.set.outputs.json_var}}
