
name: "Update Pull Request"
on:
  pull_request_review:
    type: [ submitted ]

env:
  FRESHRELEASE_TICKET_ID: 0
  PULL_REQUEST_NUMBER: 0
jobs:
  pr_update_text:
    runs-on: ubuntu-latest
    steps:
    - run: |
          PULL_NUMBER=$(echo "$GITHUB_REF"| awk -F / '{print $3}' )
          echo "::set-env name=PULL_REQUEST_NUMBER::$PULL_NUMBER"
    - name: Get Pull Request Data
      id: pull_request_data
      uses: simpleactions/get-pull-request@v1.0.0
      with:
        github_token: "${{ secrets.GITHUB_TOKEN }}"
        pull_number: "${{ env.PULL_REQUEST_NUMBER }}"
    - name: get-request output
      id: set
      shell: bash
      run: |
        key=$(sed 's/.*\[API-\(.*\)\].*/\1/' <<< "${{ steps.pull_request_data.outputs.title }}")
        echo $key
        echo $GITHUB_ACTOR
        echo "::set-env name=FRESHRELEASE_TICKET_ID::$key"
    - uses: satak/webrequest-action@master
      id: freshrelease-ticket
      with:
        url: https://freshworks.freshrelease.com/API/issues/API-${{ env.FRESHRELEASE_TICKET_ID }}/comments
        method: POST
        payload: '{ "content": "${{ github.GITHUB_ACTOR }} commented on your Pull Request...." }'
        headers: '{"authorization": "Token token=${{ secrets.FRESHRELEASE_TOKEN }}", "Content-Type": "application/json", "Accept": "application/json"}'
