
name: "Update Pull Request"
on:
  pull_request:
    branches: [ master ]

env:
  FRESHRELEASE_TICKET_ID: 0
jobs:
  pr_update_text:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: 8BitJonny/gh-get-current-pr@v1
        id: PR
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          filterOutClosed: true
      - run: echo "Your PR is ${prNumber} and its JSON is ${prJSON}"
        if: success() && steps.PR.outputs.number
        env:
          prNumber: ${{ steps.PR.outputs.number }}
          prJSON: ${{ steps.PR.outputs.pr }}
